@charset "UTF-8";
/* CSS Document */

/* for white background */
.bluelink a:link 	    {color:navy;   text-decoration:none; }
.bluelink a:visited 	{color:blue;   text-decoration:none; }
.bluelink a:focus 	    {color:blue;   text-decoration:none; }
.bluelink a:hover   	{color:green;  text-decoration:none; }
.bluelink a:active  	{color:lime;   text-decoration:none; }

/* for colored background */
.whitelink a:link 	    {color:black; text-decoration:none; }
.whitelink a:visited 	{color:black; text-decoration:none; }
.whitelink a:focus 	    {color:white; text-decoration:none; }
.whitelink a:hover 	    {color:white; text-decoration:none; }
.whitelink a:active 	{color:black; text-decoration:none; }


/* last source change vk 2021-01-19 10:00 */